---
import Layout from "../layouts/Layout.astro";
import Table from "../components/Table.astro";
---

<Layout title="Astro Countries">
  <div>
  </div>
  <a href="/solid">Solid Table</a>
  <Table />
</Layout>